.navbarStyle {
    height: 4rem;
    background-color: #271503;
    width: 100%
}


.toggleNavbar{
    color: #F5F5DC !important;
    font-size :2rem !important;
    margin-left: 10px !important;
    margin-right : 10px !important;
}



