#apparait{
    display: '';
}

#disparait{
    display: none;
}

.buttonMenu{
    
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    background-color:transparent;
    height:fit-content;
    width: fit-content;
    border-color: transparent;
    
}

.buttonRetour{
    border-radius: 10px;
    background-color: beige;

}
.buttonRetour:hover{
    background-color: #444444;

}
.buttonR:hover{
    color:white;
}
.buttonR{
    color:black;
}
/* {{ paddingTop: '2rem', textAlign: 'center', display: 'flex', flexDirection: 'column', marginLeft: 'auto', marginRight: 'auto' }} */

.menuIconeCheval{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.boutonM:hover{
    background-color: #deddd7;

}